@import url(reset.css);

body {
  font-family: " Gowun Dodum", sans-serif;
  height: 750px;
  background-color: #22333b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #fdf0d5;
  width: 400px;
  height: 500px;
  padding: 50px;
  border-radius: 10px;
}

.container div {
  margin-bottom: 20px;
}

.header {
  font-size: 30px;
}

.main_input {
  width: 100%;
  padding: 0;
  border-width: 0;
  height: 40px;
}

.main_input_message {
  height: 130px;
}

.name {
  display: flex;
  justify-content: space-between;
}

.name input {
  width: 180px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  width: 60px;
  height: 40px;
  border-radius: 5px;
  background-color: #fcbf49;
  box-shadow: none;
  border: none;
}
